@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@theme{
    --color-primary: #5f6FFF;
}
*{
    font-family:Outfit;
}
.active hr{
    @apply block
}
::-webkit-scrollbar{
    @apply hidden
}
.grid-cols-auto {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

@media(max-width:765px){
    .active p{
        @apply text-white bg-primary
    }
}